<h1>Welcome to the Tech Blog!</h1>

{{#if posts.length}}
  {{#each posts}}
    <div class="card">
      <h3>{{title}}</h3>
      <p>{{content}}</p>
      <p><small>Posted by {{user.name}} on {{date_created}}</small></p>
      <a class="button-link" href="/post/{{id}}">Read More</a>
    </div>
  {{/each}}
{{else}}
  <p>No posts yet. Be the first to write one!</p>
{{/if}}
